<button
    style="margin: 50px; padding: 10px"
    type="button"
    class="btn btn-primary"
    (click)="onClickOpenModalAdd()">Add
  </button>
<app-modal  (close)="onClickCloseModalAdd()" [openModal]="openModal">
  <div modalTitle > Prison </div>
  <div modalButton> <button (click)="onSubmit()" class="ui button">Save</button></div>
  <div modalInput>
    <app-input [type]="'text'" label="Name of Prison" [control]="prisonwardForm.controls.name"></app-input>
   </div>

</app-modal>

<app-table classNames="table table-striped"
(emitEdit2)="onEdit($event)"

[data]="data" [header]="header"
(emitDelete)="onDelete($event)"
></app-table>

