
<table [ngClass]="classNames" class="ui table">
    <thead>
      <tr>
        <th *ngFor="let head of header ">
          {{head.label}}
        </th>
      </tr>
    </thead>
    <tbody>


      <tr *ngFor="let d of data">
        <td (click)="onDetail.emit(d)" *ngFor="let head of header ">
          {{d[head.key]}}
        </td>
        <td>

            <button  class="btn btn-secondary" (click)="emitEdit.emit(d)" >
              Edit
            </button>


          <button class="btn btn-secondary" (click)="emitDelete.emit(d?._id)">
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>

